@import url('//db.onlinewebfonts.com/c/8a8da4e29aedaa26c72e1b57293ddf2d?family=AthelasW01-Regular');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{ 
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(../img/Background_Landing01.png) no-repeat;
}
/*----------------------Section1 Anfang---------------------------*/
.sec1{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
}
.sec1 p{
    font-size: 1.2em;
}
p:first-child{
    color: rgba(255, 255, 255, 0.842);
    padding-left:2em ;
    padding-top:1em ;
    font-family: 'AthelasW01-Regular', serif;
    font-size: 1.2em;
}
.eins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec1 h3{
    font-size: 12em;
    font-family: 'AthelasW01-Regular', serif;
}
i{
    color: gray;
    padding-top:0.5em;
    font-size: 48px;
    animation: plopp 5s ease-in-out infinite;
}
/*----------------------Section1 Ende---------------------------*/

/*----------------------Section2 Anfang---------------------------*/
.sec2{
    padding-top: 1.5%;
    transition: 3s; 
    display: grid;
    justify-content: center;
    grid-gap:12em;
    width: 100%;
    height: 100vh;
    text-align: center; 
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'gridDiv1 gridDiv1 gridDiv1 gridDiv2 gridDiv2 GridDiv2'
                         'gridDiv3 gridDiv3 gridDiv4 gridDiv4 gridDiv5 gridDiv5'
                         'gridDiv6 gridDiv6 gridDiv6 gridDiv6 gridDiv6 gridDiv6';
                        
}
.sec2H1{
    font-size: 2em;
    padding-top: 2em;
}
.gridDiv1 {
    grid-area: gridDiv1;
    justify-content: center;
  }
  .gridDiv2{
      grid-area: gridDiv2;
  }
  .gridDiv2 p{
      padding-top: 6%;
  }
  .gridDiv3{
    width: 250px;
    height: 210px;
    grid-area: gridDiv3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.gridDiv3 img{
    padding-top: 2%;
}
.gridDiv3:hover{
    transform: scale(1.2);
    box-shadow:gray 0 0 10px ;
    border-radius: 10%;
}
.gridDiv4{
    display: flex;
    width: 300px;
    height: 210px;
    grid-area: gridDiv4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 4em;
}
.gridDiv4 img{
    padding-top: 2%;
}
.gridDiv4:hover{
    transform: scale(1.2);
    box-shadow:gray 0 0 10px ;
    border-radius: 10%;
}
.gridDiv5{
    display: flex;
    width: 250px;
    height: 210px;
    grid-area: gridDiv5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.gridDiv5 img{
    padding-top: 2%;
}
.gridDiv5:hover{
    transform: scale(1.2);
    box-shadow:gray 0 0 10px ;
    border-radius: 10%;
}
.gridDiv6{
    grid-area: gridDiv6;
}
.gridDiv1 img{
    width: 400px;
    height: 300px;
    box-shadow: gray 0 0  20px;
}
.gridDiv3 img{
    width: 50px;
    height: 50px;
}
.gridDiv3 p{
    margin:auto;
}

.gridDiv4 img{
    width: 50px;
    height: 50px;
}
.gridDiv4 p{
    margin:auto;
}
.gridDiv5 img{
    width: 50px;
    height: 50px;
}
.gridDiv5 p{
    margin:auto;
}

/*----------------------Section2 Ende---------------------------*/

/*----------------------Section3 Anfang---------------------------*/
.sec3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    grid-template-areas: 'gridDivSec1 gridDivSec2'
                        'gridDivSec1 gridDivSec2'
                         'gridDivSec3 gridDivSec3';
}
.sec2{
    margin-bottom: 40vh;
}
.sec3 h1{
   font-size: 3em; 
}
.sec3 p{
    padding-top: 6em;
    font-size: 24px;
    text-align: center;
 }
.gridDivSec3{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    
}
.gridDivSec1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec3 button{
    color: #F0AA00;
    border: 1px solid #F0AA00;
    width: 200px;
    height: 50px;
    background-color: white;
    font-size: 22px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 10em;
    
}
.sec3 button:hover{
    color: white;
    border: 1px solid #F0AA00;
    width: 200px;
    height: 50px;
    background-color: #F0AA00;
    font-size: 22px;
    border-radius: 50px 50px 50px 50px;
}
.gridDivSec1{
    grid-area: gridDivSec1;
}
.gridDivSec2{
    grid-area: gridDivSec2;
}
.gridDivSec3{
    grid-area: gridDivSec3;
}
/*----------------------Section3 Ende---------------------------*/

/*----------------------Section4 Anfang---------------------------*/
.sec4{
    width: 100%;
    height: 100vh;
   
}
.sec4 h1{
    text-align: center;
    font-size: 3em;
    padding-bottom: 2em;
}
.smooth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nameText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}

.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
  padding-bottom: 5% ;
  max-width: 40%; 
  position: relative;
  margin: auto;
}
.test{
    display: flex;
    justify-content: center;
}
button{
    outline: none;
}
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #F0AA00;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #F0AA00;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
}



.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.stimme{
    margin-top:2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172675;
    border-radius: 100px;
    width: 90%;
    height: 20vh;
    margin-left: 6em;
    padding-left: 4vw;
    padding-right: 4vw;
}
.stimme button{
    width: 20%;
    height: 8vh;
    border-radius: 100px;
    background-color: #172675;
    color: white;
    border: 1px solid white;
    font-size: 1em;
    margin-left: 15em;
    
}
span{
    color: rgba(255, 255, 255, 0.445);
}

/*----------------------Section4 Ende---------------------------*/

/*----------------------Section5 Anfang---------------------------*/
.sec5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20vh;
    text-align: center; 
    width: 100%;
    height: 100vh;  
}
.sec5 div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sec5 div:nth-of-type(1) h1{
    font-size: 3em;
    color: #182777;
}
.sec5 div:nth-of-type(1) p{
    font-size: 1.5em;
    color: #182777;
}

.sec5 div:nth-of-type(1){
    align-items: flex-start;
   
}
.form{
    width: 40vw;
    border: 1px solid black;
    border-radius: 30px;
    padding-top:4vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;

}
.form input{
    height: 4vh;
    border-bottom: 1px solid gray;
    border-top:none;
    border-right: none;
    border-left: none;
    outline: none;
}
.form button{
    background-color: #182777;
    height: 8vh;
    margin-top: 3vh;
    font-size: 1.1em;
    width: 15vw;
    color: white;
    border-radius: 40px;
}
.form label{
    text-align: left;
    
}
.formDiv{
    display: flex;
    align-items: center;
    width: 40%;
    height: 50vh;
 
}


/*----------------------Section5 Ende---------------------------*/


@keyframes plopp{
    0%{
        transform: translateY(0);
    }
    50%{    
        transform: translateY(10px);
        opacity: 0.3;
    }
    100%{   
        transform: translateY(0);
    }
}
/*----------------footer----------------*/

footer{ 
    height: 30vh;
    background-color: white;
}
.footerDiv1{
 
    display: flex;
    background-color: #172674;
    height: 10vh;
    padding-top: 1em;
    
}
.footerSpan1{
    padding-left: 65%;
}
.footerDiv2 p{
    color: #172674;
    margin: 15px;
    height: 100%;
}
.footerDiv2 img{
    margin: 15px;
    width: 6.5%;
    margin-left: 45px;
}

.google{
    width:180px;
    height: 180px;
}
.apple{
    width:150px;
    height: 150px;
    margin-left: 100px;
}





/*___________responsiv__________________*/

@media screen and (max-width: 812px) {
    .sec2  {
        width: 85%;
        height: 100%;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-areas: 
        "gridDiv1 gridDiv1"
        "gridDiv2 gridDiv2"
        "gridDiv3 gridDiv3"
        "gridDiv4 gridDiv4"
        "gridDiv5 gridDiv5"
        "gridDiv6 gridDiv6"                     ;
}
}
@media screen and ( max-width: 812px) {
    .sec3  {
        width: 85%;
        height: 375px;
        grid-template-columns: 1f 1fr 1fr;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
        grid-template-areas: "gridDivSec1 gridDivSec1"
                            "gridDivSec2 gridDivSec2"
                             "gridDivSec3 gridDivSec3";
    }
}
@media screen and (max-width: 812px) {
    .sec4  {
        width: 85%;
        height: 100%;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
}
@media screen and (max-width: 812px) {
    .sec5  {
        width: 85%;
        height: 100%;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
 }
}